VITE_BUCKET_URL="http://127.0.0.1:8000"
VITE_SUPABASE_URL="http://127.0.0.1:54321"
VITE_SUPABASE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZS1kZW1vIiwicm9sZSI6ImFub24iLCJleHAiOjE5ODM4MTI5OTZ9.CRXP1A7WOeoJeXxjNni43kdQwgnWNReilDMblYTn_I0"

VITE_ADMIN_USER_ID="004ef3aa-d5b0-4890-b6bd-0438322ecf62"
VITE_TWITCH_CLIENT_ID="ppg5p925x17bhrttk0u8gbylyshj02"
