VITE_BUCKET_URL="http://0.0.0.0:8555"
VITE_SUPABASE_URL="http://127.0.0.1:54321"
VITE_SUPABASE_KEY="sb_publishable_ACJWlzQHlZjBrEguHvfOxg_3BJgxAaH"

VITE_ADMIN_USER_ID="004ef3aa-d5b0-4890-b6bd-0438322ecf62"
VITE_TWITCH_CLIENT_ID="ppg5p925x17bhrttk0u8gbylyshj02"
