VITE_BACKEND_URL="https://backend.malmaarmals.nl/"
VITE_SUPABASE_URL="https://supabase.malmaarmals.nl/"
VITE_SUPABASE_KEY="sb_publishable_ACJWlzQHlZjBrEguHvfOxg_3BJgxAaH"
VITE_TWITCH_CLIENT_ID="ppg5p925x17bhrttk0u8gbylyshj02"
