@import 'tailwindcss';

.v-bottom-sheet .v-overlay__scrim {
    background: transparent !important;
}

@theme {
    /* fonts */
    --font-open-sans: 'Open Sans';
    --font-space-grotesk: 'Space Grotesk';
    --font-montserrat: 'Montserrat';
    --font-lato: 'Lato';

    --color-purple-lighter: hsl(252, 100%, 94%);
    --color-purple-light: hsl(252, 100%, 84%);
    --color-purple: hsl(252, 100%, 74%);
    --color-purple-dark: hsl(252, 100%, 64%);
    --color-purple-darker: hsl(252, 100%, 54%);

    --color-green-lighter: hsl(120, 40%, 73%);
    --color-green-light: hsl(120, 40%, 60%);
    --color-green: hsl(120, 40%, 47%);
    --color-green-dark: hsl(120, 40%, 33%);
    --color-green-darker: hsl(120, 40%, 20%);

    --color-primary-lighter: var(--color-purple-lighter);
    --color-primary-light: var(--color-purple-light);
    --color-primary: var(--color-purple);
    --color-primary-dark: var(--color-purple-dark);
    --color-primary-darker: var(--color-purple-darker);

    /* text */
    --color-normal: hsl(0, 0%, 95%);
    --color-muted: hsl(0, 0%, 70%);
    --color-muted-more: var(--color-black-1200);

    /* black */
    --color-black-100: hsl(0, 0%, 2%);
    --color-black-200: hsl(0, 0%, 4%);
    --color-black-300: hsl(0, 0%, 6%);
    --color-black-400: hsl(0, 0%, 8%);
    --color-black-500: hsl(0, 0%, 10%);
    --color-black-600: hsl(0, 0%, 12%);
    --color-black-700: hsl(0, 0%, 14%);
    --color-black-800: hsl(0, 0%, 16%);
    --color-black-900: hsl(0, 0%, 18%);
    --color-black-1000: hsl(0, 0%, 20%);
    --color-black-1100: hsl(0, 0%, 22%);
    --color-black-1200: hsl(0, 0%, 24%);
    --color-black-1300: hsl(0, 0%, 26%);
    --color-black-1400: hsl(0, 0%, 28%);
    --color-black-1500: hsl(0, 0%, 30%);
    --color-black-1600: hsl(0, 0%, 32%);
    --color-black-1700: hsl(0, 0%, 34%);
    --color-black-1800: hsl(0, 0%, 36%);
    --color-black-1900: hsl(0, 0%, 38%);
    --color-black-2000: hsl(0, 0%, 40%);

    --height-mobile-navbar: 64px;
    --height-header: 55px;
    --height-available: calc(100vh - var(--height-mobile-navbar));

    --spacing-mobile-navbar: var(--height-mobile-navbar);
    --spacing-header: var(--height-header);

    --breakpoint-3xl: 120rem;
    --breakpoint-4xl: 140rem;
    --breakpoint-5xl: 160rem;

    --background-color-default: var(--color-black);

    --ring-color-default: var(--color-black);
}

.fs h1,
.fs h2,
.fs h3,
.fs h4,
.fs h5,
.fs h6 {
    @apply text-normal mb-1 text-2xl font-bold not-first:mt-8;
}

.fs p {
    @apply text-muted;
}

html {
    @apply overflow-y-scroll;
}

html,
body {
    @apply bg-black-100;
}

body {
    @apply font-space-grotesk text-normal overflow-x-hidden;
}

p:not(:last-child) {
    @apply mb-3;
}

a.link,
a:not([class]) {
    @apply text-primary hover:text-primary-light underline;
}

@utility scroll-hidden {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

button {
    @apply cursor-pointer;
}

.scroll-hidden::-webkit-scrollbar {
    display: none;
}

/* vuetify overwrites */
/* expansion panel */
.v-expansion-panel--active > .v-expansion-panel-title:not(.v-expansion-panel-title--static) {
    min-height: inherit !important;
}

.v-expansion-panel-text {
    @apply text-muted;
}

/* overlay */
.v-overlay {
    --v-overlay-opacity: 0.6;
}

/* slider */
.v-slider-track__fill.bg-primary {
    @apply bg-gradient-to-r from-primary to-primary-light;
}

.v-dialog > .v-overlay__content {
    @apply max-w-[calc(100%-32px)];
}
